table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
}

th,
td {
  padding: 10px;
  vertical-align: top;
}

.fake-table {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: transparent;
}

.fake-table > .fake-col {
  display: flex;
  flex-direction: column;
}

.fake-table > .fake-col > .fake-cell {
  padding: 10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: transparent;
}

.grid-swap {
  position: absolute;
  top: 0;
  left: 0;
}
